<div class="loginTitle">
</div>
<div class="loginForm">
    <div class="loginFormInner">
        <form role="form" method="POST" action="/loginPost">
            <div class="form-group">
                <label for="username">用户名</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="user name">
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">提交</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-default">修改密码</button>
        </form>
    </div>
</div>
<div class="loginBottom">
    <span>JUJUBE</span><br/>
    <span class="SubBottomText">您身边的健康专家</span>
</div>